/***********
Set et reset CSS
***********/

/* Applique la police a toute la page */
* {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

#bloc_general {
  width: 90rem; /* 1440pt ou 1920px*/
  margin: 0rem auto;
}

/* Determine la taille max, et centre le contenue de la page*/
#bloc_principal {
  width: 83.75rem; /* 1440px - 100px = 1340px*/
  margin: 0rem auto;
}

/* Suppression des styles par defaut des listes a puces */
ul {
  list-style-type: none;
}

/* Desactivation du soulignement automatique des liens */
a {
  text-decoration: none;
}

/* Les liens une fois cliqués apparaissent en noir */
a:visited {
  color: black;
}

.lien_text:hover{
  color: #5f5f5f;
}

.div_photo_hebergement:hover, .div_photo_populaire:hover{
  background-color: #deebff;
}

/***********
CSS
***********/

/* Regles generales */

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

/* HEADER*/
/* Logo et NAV */
#header_div_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header_div_1 nav {
  position: relative;
  right: 0%;
  width: 33%;
  color: #0065fc;
  /* border:1px dotted black; */
}
#header_div_1 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:0px;
  /* border:1px solid green; */
}

#header_div_1 nav ul li {
  width: 33%;
  text-align: center;
}

.nav_link:hover {
  border-top: 0.188rem #0065fc solid; /* 3px */
  cursor: pointer;
}

.nav_link {
    /* width: 2.5rem; 40px */
    border-top:0.188rem #fff solid;
    padding-top: 1.063rem; /* 17px */
  }

#inscrire {
  font-weight: 700;
}

/* HEADER*/
/* Titre Paragraphe Bouton */

header p {
  font-size: 0.938rem;
}
/* Boite de recherche */

#box_recherche {
  font-size: 1.125rem;
  width: 29%;
  height: 3.188rem; /* 51px*/
  border: 0.063rem solid #f2f2f2;
  border-radius: 0.813rem 0.813rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#icone_locate {
  width: 12.4%;
  display: flex;
  justify-content: center;
}

#champ_recherche {
  height: 3.188rem; /* 51px*/
  border: none;
  font-weight: 700;
}

/* Bouton */
/* Supprine le surlignage d'un bouton lorsqu'on clique dessus */
button:focus {
  outline: 0;
}
/* Effet de degrader lors du survol d'un bouton */
button:hover {
  background: linear-gradient(#0065fc, #0040fc);
}
/* Effet de zoom arriere lors du clique sur un bouton */
button:active {
  transform: scale(0.98);
}

button {
  width: 38%;
  height: 3.125rem; /* 50px*/
  box-sizing: content-box;
  border: 0.063rem solid #f2f2f2;
  border-top-right-radius: 0.813rem;
  border-bottom-right-radius: 0.813rem;
  background-color: #0065fc;
  color: white;
  border: none;
  font-weight: 700;
}

/* HEADER*/
/* Filtres, paragraphe filtre et paragraphe info */

/* paragraphe filtre et paragraphe info */
.filtre,
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filtre {
  margin-top: 1rem;
}

.filtre p {
  font-size: 1.125rem;
  margin-right: 0.5rem;
}

/* Paragraphe info */
.info i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.813rem;
  color: #0065fc;
  background-color: #fff;
  border-radius: 50%;
  border: solid #f2f2f2 0.063px;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.688rem; /* 11px */
}

.info span {
  font-size: 1.063rem;
}

/* HEADER*/
/* Filtres, paragraphe filtre et paragraphe info */
/* Filtres */

/* Cacher les checkbox par defaut au navigateur */
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filtre form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
  /* border: 1px black solid; */
  padding-left: 0rem;
}

.icone_filtre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.checkmark {
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.126rem #f2f2f2 solid;
  border-radius: 20px;
  margin-left: 1.5rem;
  background-color: #fff ;
}

.filtre form input:hover + label {
  background-color: #deebff;
}

.filtre form input:checked + label {
  background-color: #deebff;
}

.filtre form input:active + label {
  transform: scale(0.98);
}

.filtre form label span {
  font-size: 1.125rem;
  margin-left: 0.813rem;
  margin-right: 1.25rem;
}

/* SECTION */

#div_central{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section_div{
  background-color: #f2f2f2;
  border-radius: 0.938rem;
}

#hebergement{
  width: 55rem;
  height: 39.188rem; /* 627px */
}

#hebergement_detail{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#hebergement_detail{
  box-sizing: content-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#hebergement_detail h2{
  margin-top: 3.125rem;
}

#hebergement_liens{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div_photo_hebergement{
  background-color: #fff;
  width: 15.375rem;
  height: 12.438rem;
  margin-bottom: 1.875rem;
  border-radius:0.938rem;
  box-shadow: 0.188rem 0.188rem 1rem #bebebe; 
}

.div_photo_hebergement_photo{
  width: 14.75rem;
  height: 7.125rem;
}

.div_photo_hebergement_photo img{
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border-radius: 0.938rem 0.938rem 0rem 0rem;
  margin: 0.313rem 0.313rem 0rem 0.313rem;
}

.div_photo_hebergement_texte{
  margin-left: 1rem;
}

.div_photo_hebergement_texte p, .div_photo_hebergement_texte h3{
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.etoile{
  margin-top: 0.5rem;
}
.etoile span{
  margin-right: 0.188rem;
}

.star_blue_filling{
  color: #0065fc;
}

.star_grey_filling{
  color: #f2f2f2;
}
.prix{
  font-weight: 700;
}

.div_photo_populaire{
  background-color: #fff;
  width: 21.438rem;
  height: 9rem;
  margin-bottom: 2.063rem;
  border-radius:0.938rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0.188rem 0.188rem 1rem #bebebe;  
}

.div_photo_populaire_photo{
  width: 7.938rem;
  height: 8.375rem;
}

.div_photo_populaire_photo img{
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border-radius: 0.938rem 0rem 0rem 0.938rem;
  margin: 0.313rem 0rem 0.313rem 0.313rem; 
}

.div_photo_populaire_texte{
  margin-left: 1.25rem;
}

#popularite{
  width: 26.25rem;
  height: 39.188rem; /* 627px */
}
.div_photo_populaire{
  margin-left: 2.313rem;  
}

#popularite_titre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.875rem;
  margin-right: 2.563rem;
  margin-left: 2.313rem;
}

#activite{
  width: 100%;
  height: 31.25rem; /* 500px */
  margin-top: 4.063rem;
  border: 1px black solid;
  border-radius: 0.938rem;
}
#activite h2{
  margin-top:0px;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}
footer h3{
  margin-top: 3.125rem;
  margin-top: 1.375rem;
}
#footer_div {
  height: 13.625rem;
  margin-right: 23.125rem;
  margin-left: 3.125rem;
  /* padding-bottom: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer_div div {
  display: flex;
  flex-direction: column;
  color: #000;
}

#footer_div div ul {
  padding: 0rem;
}

footer li {
  font-size: 1rem;
  margin-bottom: 0.938rem;
}

footer a {
  font-size: 1rem;
  margin-bottom: 0.938rem;
  color: #000;
}

footer a:visited {
  color: #000;
}

footer a:hover {
  text-decoration: underline;
}

/***********
Media Querries
***********/
@media all and (max-width: 768px) {
  #bloc_general {
    width: auto;
    margin: auto;
  }
}
