/***********
Set et reset CSS
***********/

/* Applique la police a toute la page */
*{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

#bloc_general{
    width: 90em; /* 1440px*/
    margin:0em auto;
    /* border: black 2px solid; */
}

/* Determine la taille max, et centre le contenue de la page*/
#bloc_principal{
    margin: 0em 56px; /* 0px 56px*/
}

/* Suppression des styles par defaut des listes a puces */
ul {
    list-style-type: none;
    }

/* Desactivation du soulignement automatique des liens */
a{
    text-decoration: none;
}

/* Les liens une fois cliqués apparaissent en noir */
a:visited{
    color:black;
}
/* Supprine le surlignage d'un bouton lorsqu'on clique dessus */
button:focus{
    outline:0;
}
/***********
CSS
***********/

/* HEADER*/
/* Logo et NAV */
#header_div_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header_div_1 nav {
    position : absolute;
    left : 65%;
    width: 33%;
    color:#0065FC;
    /* border:1px dotted black; */
}
#header_div_1 nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border:1px solid green; */
}

#header_div_1 nav ul li{
    width: 33%;
    text-align: center;
    /* border: blue 1px dotted; */
}

/* #header_div_1 nav ul li:hover{
    border-top : 3px #0065FC solid;
    margin-top: 20px;    
} */

.nav_link:hover{
    width: 2.5em; /* 40px */
    border-top : 0.188em #0065FC solid; /* 3px */
    padding-top: 1.063em; /* 17px */
}

#inscrire{
    font-weight: 700;
}

/* HEADER*/
/* Titre Paragraphe Bouton */

header h2{
    font-size: 1.25em;
    font-weight: 700;
}

header p{
    font-size: 0.938em;
}
/* Boite de recherche */

#box_recherche{
    font-size: 1.125em;
    width: 29%;
    height: 3.188em; /* 51px*/
    border: 0.063em solid #f2f2f2;
    border-radius: 0.813em 0.813em;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icone_locate{
    width: 12.4%;
    display: flex;
    justify-content: center;
}

#champ_recherche{
    height: 3.188em; /* 51px*/
    border: none;
    font-weight: 700;
    /* border: 1px solid #000; */
}

button{
    width: 35%;
    height: 3.125em; /* 50px*/
    box-sizing: content-box ;
    border: 0.063em solid #f2f2f2;
    border-top-right-radius: 0.813em;
    border-bottom-right-radius: 0.813em;
    background-color:#0065fc;
    color: white;
    border: none;
    font-weight: 700;
}

/***********
Media Querries
***********/
@media all and (max-width: 768px){
    #bloc_general{
        width: auto;
        margin:auto;
    }
}